// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html
:root {
    // brand colors
    --c-brand: #00bcd4;
    --c-brand-light: #3494d9;
}

html.dark {
    --c-brand: #00bcd4;
    --c-brand-light: #3494d9;
}
